*{
  background-color: #0eb33a;
}
#editor, #preview{
  min-height: 400px;
  min-width: 500px;
  border: 5px solid black;
  box-shadow: 10px 10px #63b679;
  margin-bottom: 30px;
}
#previewdiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea, #preview, #preview *{
  background-color: #74d68e;
}
#title, h3{
  margin: 30px;
}

